*.tif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
examples/Baseline_fc_1.tiff filter=lfs diff=lfs merge=lfs -text
examples/Baseline_fc_2.tiff filter=lfs diff=lfs merge=lfs -text
examples/Baseline_fc_3.tiff filter=lfs diff=lfs merge=lfs -text
examples/Baseline_fc_4.tiff filter=lfs diff=lfs merge=lfs -text
examples/d2_fc_1.tiff filter=lfs diff=lfs merge=lfs -text
examples/d2_fc_2.tiff filter=lfs diff=lfs merge=lfs -text
examples/d2_fc_3.tiff filter=lfs diff=lfs merge=lfs -text
examples/d2_fc_4.tiff filter=lfs diff=lfs merge=lfs -text
examples/d4_fc_1.tiff filter=lfs diff=lfs merge=lfs -text
examples/d4_fc_2.tiff filter=lfs diff=lfs merge=lfs -text
examples/d4_fc_3.tiff filter=lfs diff=lfs merge=lfs -text
examples/d4_fc_4.tiff filter=lfs diff=lfs merge=lfs -text
examples/d6_fc_1.tiff filter=lfs diff=lfs merge=lfs -text
examples/d6_fc_2.tiff filter=lfs diff=lfs merge=lfs -text
examples/d6_fc_3.tiff filter=lfs diff=lfs merge=lfs -text
examples/d6_fc_4.tiff filter=lfs diff=lfs merge=lfs -text
examples/iPSC-CO.tiff filter=lfs diff=lfs merge=lfs -text
